a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  background-color: rgb(11, 8, 2);
}

.custom-table {
  background-color: black;
  color: white;
  border-collapse: collapse;
  width: 100%;
}

.custom-table th,
.custom-table td {
  border: 1px solid rgb(255, 170, 0);
  padding: 8px;
  text-align: left;
}

.custom-table th {
  cursor: pointer; /* If you want the header cells to indicate they are clickable */
  color: orange;
}

.custom-table th:hover
{
  background-color: #333333; /* Optional: a slight hover effect */
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/race.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}